.single_property_details_container {

    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    padding: 100px 0px;
}

.single_property_details_container_left {
    width: 60%;
}

.single_property_details_container .single_property_details_container_left img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.p_con {
    padding: 5px 10px;
    background-color: #fbd9cf;
    border-radius: 3px;
    margin-top: 30px;
    width: max-content;
}

.single_property_details_container_left h2 {
    font-weight: 700;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 30px;
}

.gray_color {
    color: #a4a1a1;
    padding-top: 30px;

}

.gray_color span:first-child {
    font-weight: 800;
    color: #000;
}

.gray_color span:last-child {
    color: #3a75fd;
}

.single_property .best_card {
    width: 100%;
}

@media screen and (max-width:900px) {
    .single_property_details_container .single_property_details_container_left{
        width: 80%;
    }
}