.footer {

    width: 100vw;
    height: max-content;
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    letter-spacing: 0.7px;
    padding: 40px;
}

@media screen and (max-width:500px) {
    .footer {
        height: max-content;
        font-size: 14px;
    }
}