* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* 
We Provide The Best Property you Like
colors :
black : #1e1e1e
orange :  #f35524
gray : #cdcdcd
blue : #3a75fd
brown: #af532f

my gray for p : #a4a1a1
*/