.property_sec_container {
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    padding-top: 100px;
}

.property_sec_container .sec_title_container .sec_title {
    max-width: 330px;
    margin: 0 auto;
}


.property_sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 50px;
    gap: 50px;

}

@media screen and (max-width:500px) {

    .property_sec_container .sec_title_container .sec_title {
        max-width: 280px !important;
        margin: 0 auto;
    }
}